:root {
  --padding: 0.8rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

#root {
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
  background-color: cornsilk;
  padding: var(--padding);
}

.item-list {
  margin: 0;
  background-color: cyan;
  padding: var(--padding);
  border-radius: var(--padding);
}

.item-list > ul {
  list-style: none;
}

.item-card {
  background-color: lightgreen;
  padding: var(--padding);
  border-radius: var(--padding);
}


